<!DOCTYPE html>
<html>
{% load compressed %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compressed_js 'jquery' %}
    {% if DEBUG %}
        <script data-main="{{ STATIC_URL }}js/dev_app" src="{{ STATIC_URL }}requirejs/require.js"></script>
    {% else %}
        <script data-main="{{ STATIC_URL }}js/app" src="{{ STATIC_URL }}requirejs/require.js"></script>
    {% endif %}
    <link href="{{ STATIC_URL }}/bootstrap/less/bootstrap.css" rel="stylesheet" type="text/css" media="screen,projection" />
    <link href="{{ STATIC_URL }}/bootstrap/less/responsive.css" rel="stylesheet" type="text/css" media="screen,projection" />
</head>
<body>
    {% compressed_js 'bootstrap' %}
    {% compressed_js 'backbone' %}
    <div class='navbar'>
        <div class='navbar-inner'>
            <a class='brand' href='#'>The Beacon Game</a>
        </div>
    </div>
    <div id="container" class="container-fluid" style="height: 1000px;">
        <div class="row-fluid">
            <div id='left' class="span2">
            </div>
            <div id='center-left' class="span4">
            </div>
            <div id='center-right' class='span4'>
            </div>
            <div id='right' class="span2">
            </div>
        </div>
    </div>
</body>
</html>
